[submodule "libaesrand"]
	path = libaesrand
	url = https://github.com/spaceships/libaesrand.git
[submodule "clt13"]
	path = clt13
	url = https://github.com/spaceships/clt13.git
[submodule "gghlite-flint"]
	path = gghlite-flint
	url = https://github.com/amaloz/gghlite-flint.git
[submodule "obfuscation"]
	path = obfuscation
	url = https://github.com/amaloz/obfuscation.git
